section.admin#set-time {
	display: flex;
	font-family: 'Josefin sans', sans-serif;

	.modal {
		button {
			outline: none;
		}

		.modal-lg {
			transition: height 0.2s;

			.modal-title {
				margin: 0;
			}

			.modal-body {
				//min-height: 275px;
				position: relative;
				//padding-top: 60px;

				.tab-content {
					.tab-pane {
						padding-top: 15px;
						font-size: 16px;

						&#edit-quarter {
							h5 {
								margin-top: 0;
								font-weight: 700;
								font-size: 16px;

								b {
									font-size: 18px;
								}
							}
						}

						&#edit-time {
							h2 {
								width: 100%;
								margin: 10px auto;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}

	main {
		margin: auto;
		padding: 0;
		position: relative;

		button#modal-toggle {
			background-color: transparent;
			position: absolute;
			top: 20px;
			right: ~'calc(50% - 200px)';
			font-size: 20px;
			border: none;
			outline: none;
		}

		h1 {
			margin: 15px auto 0 auto;
			text-align: center;
			width: 100%;
			font-weight: 600;

			
		}

		h3 {
			font-size: 24px;
			text-align: center;
			margin: 10px auto 15px auto;
			width: 100%;
			font-weight: 400;
		}

		/*
			***** IMPORTANTS SHOULD BE ABLE TO GO FOR PRODUCTION DEPLOYMENT *****
		*/
		div#button-container {
			margin: auto !important;
			float: none !important;
			padding: 0 !important;

			button {
				float: none !important;
				margin: auto !important;
				display: flex;
				height: @golden-ratio * 100 - 100px;
				transition: background 0.25s;
				outline: none;

				p {
					margin: auto;
					transition: background 0.1s;
				}
			}
		}
	}
}