section.admin#set-time {
	display: flex;
	font-family: 'Josefin sans', sans-serif;

	.modal {
		button {
			outline: none;
		}

		.modal-lg {
			transition: height 0.2s;

			.modal-title {
				margin: 0;
			}

			.modal-body {
				min-height: 275px;
				position: relative;
				padding-top: 60px;

				#tab-container {
					position: absolute;
					left: 50%;
					max-width: 178.11px;
					top: 50%;
					transform: translate(-50%, -50%);
					//transition: all 1s;

					button {
						//display: block !important;
						margin: 3.75px auto 3.75px 50%;
						transform: translate(-50%, 0);
						//transition: all 1s;
					}
				}

				&.open {
					#tab-container {
						left: 0%;
						max-width: 100%;
						top: 0%;
						transform: translate(0%, 0%);

						button {
							margin: 5px 2.5px;
							transform: translate(0%, 0%);

							&:first-child {
								margin-left: 7.5px;
							}
						}
					}
				}

				.tab-content {
					.content {
						display: none;
						font-size: 16px;

						&.active {
							display: block !important;
						}
					}
				}
			}
		}
	}

	main {
		margin: auto;
		padding: 0;
		position: relative;

		button#modal-toggle {
			background-color: transparent;
			position: absolute;
			top: 20px;
			right: ~'calc(50% - 200px)';
			font-size: 20px;
			border: none;
			outline: none;
		}

		h1 {
			margin: 15px auto 0 auto;
			text-align: center;
			width: 100%;
			font-weight: 600;

			
		}

		h3 {
			font-size: 24px;
			text-align: center;
			margin: 10px auto 15px auto;
			width: 100%;
			font-weight: 400;
		}

		/*
			***** IMPORTANTS SHOULD BE ABLE TO GO FOR PRODUCTION DEPLOYMENT *****
		*/
		div#button-container {
			margin: auto !important;
			float: none !important;
			padding: 0 !important;

			button {
				float: none !important;
				margin: auto !important;
				display: flex;
				height: @golden-ratio * 100 - 100px;
				transition: background 0.25s;
				outline: none;

				p {
					margin: auto;
					transition: background 0.1s;
				}
			}
		}
	}
}