/* Black Ops One font for top Weiner */
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
/* Caveat Brush font for sub-heading */
@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);
/* Josefin snas font - Utility */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600);

@golden-ratio: 1.61803398875;

@top-back: #3b588e;

/* iOS ONLY */
body.ios {
	footer#page-foot section.info {
		bottom: -2px;
	}

	@media screen and (min-width: 760px) {
		#out-container.open footer#page-foot {
			margin-left: 185px;
		}
	}
}


body {
	background: url(/assets/img/background/basketball2.jpg) no-repeat center center fixed;
	background-size: cover;
	font-size: 100%;
	overflow-x: hidden;
}

.btn-primary {
	background-color: #1683b3 !important;
	border-color: #1a77a0 !important;

	&:active {
		background-color: #095e84 !important;
	}
}

.open, .closed {
	transition: left 0.25s;
}

#out-container {
	//background-color: #f8f8f8;
	//padding: 0;
	//box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.2), 4px 0px 5px 0px rgba(0,0,0,0.2);
	padding: 0;
	position: relative;
	left: 0;

	&.open {
		left: 200px;
	}
}

#top-head {
	background-color: @top-back;
	border-radius: 0;
	color: #eaba63;
	//height: 200px;
	//padding: 0 0 15px 0;
	padding: 0;
	text-align: center;
	margin-top: 3px;

	h1 {
		margin: 0;
		font-family: 'Black Ops One', cursive;
		font-size: 145px;
		margin-top: -7.75px;
	}

	h3 {
		font-family: 'Caveat Brush', cursive;
		font-size: 25px;
		letter-spacing: 0.25px;
		margin: 0;
		margin-top: -29px;
		color: #f8f8f8;
	}
}

#hidden-nav {
	//display: none !important;
	box-shadow: -6px 0px 5px 0px rgba(0, 0, 0, 0.2) inset;

	&.closed {
		left: -200px;
	}

	position: fixed;
	//display: block !important;
	margin: 0;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: @top-back;
	color: #eee;
	font-size: 18px;
	padding-top: 51.29682px;

	ul {
		padding: 0;
		width: inherit;
		outline: none;
		//min-width: 200px;

		li {
			float: none;
			outline: inherit;
			display: block;
			position: relative;
			color: #f8f8f8;

			a {
				font-size: 15px;
				outline: inherit;
				transition: all 0.05s;
				color: inherit;
				text-align: center;
				line-height: 20px;
				position: relative;
				display: block;
				padding: 16.10834px 15px;
				text-decoration: none;
			}
		}
	}

	section.info {
		position: absolute;
		bottom: 10px;
		background: transparent;
		height: auto;
		display: block;

		a#img-link {
			display: block;
			width: 80px;
			margin: auto;

			img {
				border: 2px solid #ddd;
				border-radius: 100%;
			}
		}

		#caption {
			font-family: 'Times New Roman', serif;
			color: #e8e8e8;
			width: 86%;
			margin: auto;
			text-align: center;
			margin-bottom: 2.5px;
		}

		p {
			padding: 5px 7.5px;
			font-size: 11px;

			&:first-child {
				padding-bottom: 0;
			}

			&:last-child {
				padding-top: 0;
			}
		}
	}
}
.navbar {
	height: 83px;
	//box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);

	&.open {
		left: 200px;
	}

	.container {
		height: 100%;

		.navbar-header {
			height: 100%;

			.navbar-brand {
				a {
					font-family: 'Black Ops One', cursive;
					font-size: 80px;
					color: #eaba63;
					margin-top: 20px;
					display: inline-block;

					&:hover, &:active, &:focus {
						text-decoration: none;
					}
				}

				span {
					font-family: 'Caveat Brush', cursive;
					font-size: 17px;
					color: #f8f8f8;
					height: 40px;
					width: 240px;
					display: inline-block;
					vertical-align: top;
					padding-left: 15px;
					padding-top: 7.25px;
				}
			}
		}
		
		#top-navbar {
			margin: 0;
			margin-top: 22px;
			max-height: 340px;
			padding: 0;
			overflow: visible;
			height: auto;
			display: block;

			ul {
				float: left;
				margin: 0;
				list-style: none;

				li {
					display: block;
					position: relative;
					float: left;
					color: #f8f8f8;

					a {
						font-size: 15px;
						transition: all 0.05s;
						border-radius: 5px;
						line-height: 20px;
						color: inherit;
						position: relative;
						display: block;
						padding: 10px 15px;
						text-decoration: none;

						&:hover, &:active, &:focus {
							background: none;
							border: none;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

.jumbotron {
	margin-bottom: 0;
}

#hamburger {
	float: left;
	font-size: 50px;
	margin: 0;
	color: #f8f8f8;
	position: relative;
	display: none;
	cursor: pointer;

	span {
		margin: 16px;
	}
}

.navbar, #top-navbar {
	background-color: @top-back;
	color: #f8f8f8;
	border: none;
}

#outer-wrap {
	background-color: #f8f8f8;
	margin-top: 98px;
	margin-bottom: 71px;
	position: relative;

	::selection {
		background: #444;
		color: #f8f8f8;
	}

	img::selection {
		background: transparent;
	}
}

#page-foot {
	height: 71px;
	position: fixed;
	bottom: 0;
	padding: 0;
	box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
	background-color: #25282a;
	margin-left: -15px;
	transition: margin 0.25s;
	z-index: 150;
	//opacity: 0.95;	
}

section.info {
	padding: 0;
	display: flex;
	overflow: hidden;
	flex-wrap: nowrap;
	height: 71px;
	background-color: #25282a;
	line-height: 1.15;
	text-align: justify;
	color: #eee;

	a {
		margin: 2.5px 3.5px 2.5px 1px;
	}

	div {
		margin: auto;
		font-size: 10px;

		b {
			color: #337ab7;
		}
			
		p {
			margin: 1px 0;
			padding: 0px 5px;

			a {
				text-decoration: underline;
				color: white;
			}
		}
	}
}

/* All styles specific for non-touch screens */
body.no-touch {
	div.row#top-nav {
		nav {
			.button:hover {
				background-color: transparent;
			}
		}
	}
}

/* First step down - hide nav buttons, show hamburger*/
@media screen and (max-width: 1199px) {
	#hamburger {
		display: block !important;
	}

	#top-navbar {
		display: none !important;
	}
}

//resize nav stuff to make it fit
@media screen and (max-width: 991px) {
	.navbar {
		height: 75px;
	}

	#outer-wrap {
		margin-top: 90px;
	}

	#hamburger { 
		//margin-left: 5px;

		span {
			margin: 17px 16px;
		}
	}

	.navbar-brand {
		a {
			font-size: 50.0px !important;
			margin-top: 15.25px !important;
		}

		span {
			font-size: 15px !important;
			width: 205px !important;
		}
	}

	#hamburger {
		font-size: 40px;
	}
}

//no gap between top bar and content and size changes
@media screen and (max-width: 767px) {
	body {
		background: @top-back;
	}

	#outer-wrap {
		margin-top: 65px;
	}

	.navbar {
		height: 65px;

		.container {
			width: 100vw;
		}
	}

	.navbar-brand {
		a {
			font-size: 47.5px !important;
			margin-top: 11px !important;
		}

		span {
			width: 175px !important;
			font-size: 12.5px !important;
			padding-top: 0 !important;
			margin-top: -1.525px;
		}
	}

	#hamburger {
		font-size: 35px;

		span {
			margin: 14.5px 16px !important;
			margin-right: 5 !important;
		}
	}

	#page-foot {
		width: 100%;
	}
}

//move subheading below heading and size changes
@media screen and (max-width: 591px) {
	.navbar-brand {
		width: ~'calc(100% - 112px)';
		text-align: center;
		padding-top: 9px;

		a { 
			float: left;
			width: 100%;
			margin-top: 9px !important;
			text-align: inherit;
		}

		span {
			float: left;
			height: 20px;
			padding: 0 !important;
			margin: 0;
			margin-top: 5.25px;
			font-size: 13px;
			width: 100% !important;
		}
	}
}

//fix sizing
@media screen and (max-width: 467px) {
	#hamburger .glyphicon {
		margin-right: 0 !important;
	}

	.navbar-brand {
		padding-left: 0;
		padding-right: 0;
		width: ~'calc(100% - 51px)';

		a {
			font-size: 37.5px !important;
		}
	}
}

//fix sizing - move hamburger further left
@media screen and (max-width: 349px) {
	#hamburger .glyphicon {
		margin-left: 5px !important;
	}

	.navbar-brand span {
		font-size: 11px !important;
		margin-top: 3.25px;
	}
}