/*
	/templates/teams.html
*/
.inner-wrap#teams {
	#title {
		width: 100%;
		font-weight: 700;
		text-align: center;
	}

	#teams-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-bottom: 5px;

		.team-box {
			height: 325px;
			padding: 10px 12.5px;

			.color-wrap {
				background-color: rgba(128, 128, 128, 0.13);
				border-radius: 5px;
				display: block;
				text-decoration: none;
				box-shadow: 2.5px 2.5px 10px -6px rgba(0, 0, 0, 0.5);
				color: #337ab7;
				width: 100%;
				padding: 5px;
				height: 100%;
				border: 1px solid #3b588e;

				&:hover, &:active {
					color: #337ab7;
				}

				h3 {
					margin-top: 7.5px;
					font-weight: 600;
					text-align: center;
					margin-bottom: 7.5px;
				}

				img {
					max-height: 250px;
					width: auto;
					display: block;
					margin: auto;
				}
			}
		}
	}
}

/*
	/templates/teams_selected.html
*/
.inner-wrap#teams-selected {
	color: #3b588e;

	.side {
		padding: 0;
		
		h2 {
			margin-top: 20px;
			text-align: center;
			font-weight: 600;
		}

		img {
			width: 95%;
			margin: auto;
			margin-bottom: 7.5px;
		}

		/*button {
			width:  58.713%;
			display: block;
			margin: auto;
			margin-bottom: 7.5px;
			font-size: 22px;
			font-family: 'Helvetica', sans-serif;
			
			&.selected {
				margin-bottom: 0;
			}
		}*/

		.wrap {
			section.stats {
				padding: 7.5px 7.5px 0 12.5px;

				div {
					margin-bottom: 7.5px;
				}
			}
		}

		@media screen and (min-width: 992px) {
			.wrap {
				border: 2px solid #3b588e;
				margin-top: 15px;
				margin-bottom: 10px;
				border-radius: 5px;
			}

			&#boys .wrap {
				//border-right-width: 1px;
				margin-right: 7.5px;
			}

			&#girls .wrap {
				//border-left-width: 1px;
				margin-left: 7.5px;
			}

			h2 {
				margin-top: 5px;
			}
		}
	}
}