<div class="home">
	<h4>Home</h4>
	<table>
		<tr>
			<th>Name</th>
			<th>#</th>
			<th>pts</th>
			<th>ft</th>
			<th>2p</th>
			<th>3p</th>
			<th>fouls</th>
		</tr>
		<tr ng-repeat="(playerName, player) in game.stats.home">
			<td ng-bind="playerName"></td>
			<td ng-bind="player.number"></td>
			<td ng-bind="player.pt"></td>
			<td ng-bind="player.ft"></td>
			<td ng-bind="player.p2"></td>
			<td ng-bind="player.p3"></td>
			<td ng-bind="player.fo"></td>
		</tr>
	</table>
</div>

<div class="away">
	<h4>Away</h4>
	<table>
		<tr>
			<th>Name</th>
			<th>#</th>
			<th>pts</th>
			<th>ft</th>
			<th>2p</th>
			<th>3p</th>
			<th>fouls</th>
		</tr>
		<tr ng-repeat="(playerName, player) in game.stats.away">
			<td ng-bind="playerName"></td>
			<td ng-bind="player.number"></td>
			<td ng-bind="player.pt"></td>
			<td ng-bind="player.ft"></td>
			<td ng-bind="player.p2"></td>
			<td ng-bind="player.p3"></td>
			<td ng-bind="player.fo"></td>
		</tr>
	</table>
</div>