<section class="inner-wrap admin" id="set-time">
	<!-- CHANGE QUARTER LENGTH MODAL -->
	<div class="modal fade" tabindex="-1" id="info-modal" aria-labelledby="Info Modal">
		<div class="modal-lg modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Menu</h2>
				</div>

				<div class="modal-body {{sectionOpenB}}">
					<ul class="nav nav-pills" role="tablist">
						<li role="presentation"><a href="#edit-quarter" aria-controls="edit-quarter" data-toggle="tab" role="tab">Edit Quarter Langth</a></li>
						<li role="presentation"><a href="#edit-time" aria-controls="edit-time" role="tab" data-toggle="tab">Edit Game Time</a></li>
						<li role="presentation"><a href="#reset-game" aria-controls="reset-game" role="tab" data-toggle="tab">Reset Game</a></li>
						<li role="presentation"><a href="#end-game" aria-controls="end-game" role="tab" data-toggle="tab">End Game</a></li>
						<li role="presentation"><a href="#other-button" aria-controls="other-button" role="tab" data-toggle="tab">Other Button</a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade" id="edit-quarter">
							<form ng-submit="changeQuarter($event)">
								<fieldset class="form-group">
									<select required="required" class="form-control">
										<option value="1">Q1</option>
										<option value="2">Q2</option>
										<option value="3">Q3</option>
										<option value="4">Q4</option>
										<option value="false">FT</option>
										<option value="OT1">OT1</option>
										<option value="OT2">OT2</option>
										<!--<option value="false">FT-OT</option>-->
									</select>
								</fieldset>
								<input class="btn btn-lg btn-warning" type="submit">
							</form>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="edit-time">
							<p>Edit Game Time</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="reset-game">
							<p>Reset Game</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="end-game">
							<p>End Game</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="other-button">
							<p>Other Button</p>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-lg btn-primary btn-close" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODAL -->

	<main class="col-xs-12 col-md-9">
		<button data-toggle="modal" data-target="#info-modal" id="modal-toggle">
			<span class="glyphicon glyphicon-option-vertical"></span>
		</button>
		<h1 ng-bind="game.playTime"></h1>
		<h3 ng-bind-html="processQuarter()"></h3>

		<div class="container-fluid col-xs-12 col-md-8" id="button-container">
			<button class="col-xs-9 btn btn-lg btn-{{button.context}}" ng-click="buttonClick($event)">
				<p ng-bind-html="button.text"></p>
			</button>
		</div>
	</main>
</section>