<section class="inner-wrap admin" id="set-time">
	<!-- CHANGE QUARTER LENGTH MODAL -->
	<div class="modal fade" tabindex="-1" id="info-modal" aria-labelledby="Info Modal">
		<div class="modal-lg modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Menu</h2>
				</div>

				<div class="modal-body {{sectionOpenB}}">
					<div id="tab-container">
						<button ng-click="selectTab($event)" id="edit-quarter" class="btn btn-lg btn-info">Edit Quarter Length</button>
						<button ng-click="selectTab($event)" id="edit-time" class="btn btn-lg btn-success">Edit Time</button>
						<button ng-click="selectTab($event)" id="reset-game" class="btn btn-lg btn-danger">Reset Game</button>
						<button ng-click="selectTab($event)" id="end-game" class="btn btn-lg btn-danger">End Game</button>
						<button ng-click="selectTab($event)" id="" class="btn btn-lg btn-warning">Other Button</button>
					</div>

					<div class="tab-content">
						<div class="content" id="edit-quarter">
							<p>Edit Quarter Length</p>
						</div>
						<div class="content" id="edit-time">
							<p>Edit Game Time</p>
						</div>
						<div class="content" id="reset-game">
							<p>Reset Game</p>
						</div>
						<div class="content" id="end-game">
							<p>End Game</p>
						</div>
						<div class="content" id="">
							
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-lg btn-primary btn-close" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODAL -->

	<main class="col-xs-12 col-md-9">
		<button data-toggle="modal" data-target="#info-modal" id="modal-toggle">
			<span class="glyphicon glyphicon-option-vertical"></span>
		</button>
		<h1 ng-bind="game.playTime"></h1>
		<h3 ng-bind-html="processQuarter()"></h3>

		<div class="container-fluid col-xs-12 col-md-8" id="button-container">
			<button class="col-xs-9 btn btn-lg btn-{{button.context}}" ng-click="buttonClick($event)">
				<p ng-bind-html="button.text"></p>
			</button>
		</div>
	</main>
</section>