<section class="inner-wrap admin" id="set-time">
	<!-- CHANGE QUARTER LENGTH MODAL -->
	<div class="modal fade" tabindex="-1" id="quarter-modal" aria-labelledby="change-quarter-length">
		<div class="modal-sm modal-dialog">
			<form class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="info-header">Change Quarter Length</h2>
				</div>

				<div class="modal-body">
					
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary btn-close" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>

	<!-- HELP MODAL -->
	<div class="modal fade" tabindex="-1" id="help-modal" aria-labelledby="how-to-edit-time">
		<div class="modal-lg modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="info-header">How to Edit Time</h2>
				</div>

				<div class="modal-body">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary btn-close" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODALS -->

	<main class="col-xs-12 col-md-9">
		<h1 ng-bind="game.playTime"></h1>
		<h3 ng-bind-html="processQuarter()"></h3>

		<div class="container-fluid col-xs-12 col-md-8" id="button-container">
			<button class="col-xs-9 btn btn-lg btn-{{button.context}}" ng-click="buttonClick($event)">
				<p ng-bind-html="button.text"></p>
			</button>
		</div>
	</main>
</section>