<section class="inner-wrap admin" id="dash">
	<h2>Admin Dashboard</h2>
	<p>Please select your game:</p>
	
	<table class="table table-hover table-striped table-responsive table-bordered">
		<tr>
			<th>Name</th>
			<th>Home</th>
			<th>Away</th>
			<th>Gym</th>
			<th>Start Time</th>
			<th>Day</th>
			<th>Score</th>
			<th>Quarter</th>
			<th>Play Time</th>
		</tr>
		<tr ng-repeat="game in games | orderBy: 'index'">
			<td>
				{{game.$id}} - <a ui-sref="gameEditorTime({gameCode: game.$id})"> Time </a> &nbsp; <a ui-sref="gameEditorStats({gameCode: game.$id})"> Stats </a> &nbsp; <a ui-sref="gameEditorBoth({gameCode: game.$id})"> Both </a>
			</td>
			<td>{{game.home}}</td>
			<td>{{game.away}}</td>
			<td>{{game.gym}}</td>
			<td>{{game.time}}</td>
			<td>{{game.day}}</td>
			<td>{{game.hScore}}&nbsp;-&nbsp;{{game.aScore}}</td>
			<td>{{game.quarter}}</td>
			<td>{{game.playTime}}</td>
		</tr>
	</table>

	<div id="logout">
		<button class="btn btn-default btn-block btn-warning" ng-click="logout()">Logout&nbsp;<span class="glyphicon glyphicon-log-out"></span></button>
	</div>
</section>