.game-sec {
	font-family: "Josefin sans", sans-serif;
	font-weight: 400;

	div {
		h2 {
			text-align: center;
			font-weight: inherit;
			font-weight: 600;
		}

		.games-wrap {
			.game {
				margin: 5px;
				min-height: 150px;
				display: flex;
				flex-wrap: wrap;
				/* DEV ONLY *///border: 1px solid #333;
				border-bottom: 1px dashed #777;

				&:last-child {
					border-bottom: none;
				}

				.left, .right {
					min-height: 150px;
				}

				.left {
					display: flex;
					flex: 1.61803398875;
					order: 1;
					flex-direction: column;

					.home, .away {
						display: flex;
						flex: 1;
						align-items: center;
					
						a {
							display: flex;
							align-items: center;
							text-decoration: none;

							&:hover, &:active, &:focus {
								text-decoration: none;
							}
						}

						div {
							width: 105px;
							text-align: center;
							margin-right: 7.5px;

							h4 {
								margin: 5px auto;
								width: 100%;
								text-align: inherit;
								font-size: 2rem;
								font-weight: 600;
							}							

							.record {
								margin: 0 5px;
								font-weight: inherit;
								font-size: 1.4rem;
								text-align: inherit;
							}
						}

						h2.score {
							font-size: 3.5rem;
							font-weight: 700;
							text-align: inherit;
							margin: 0;
							margin: auto;
						}
					}
				}

				.right {
					flex: 1;
					order: 2;
					text-align: center;
				}
			}
		}
	}
}