.inner-wrap.admin#set-games {
	height: 100%;
	width: 100%;
	font-family: 'Josefin sans', sans-serif;

	aside.roster {
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		padding: 0;
		//max-height: 100%;

		h3 {
			color: #eee;
		}

		/*&#home {
			background-color: rgba(22, 84, 136, 0.7);
		}

		&#away {
			background-color: rgba(34, 131, 227, 0.7);
		}*/

		table {
			font-size: 23px;
			font-weight: 600;
			margin-bottom: 8px;

			tr {
				cursor: pointer;

				td {
					border: none;
				}
			}

			.wrap {
				h3 {
					font-weight: 700;
				}
			}
		}
	}

	section#center {
		padding: 0;
		border-right: 1px solid #f8f8f8;
		border-left: 1px solid #f8f8f8;

		#stats {
			padding-bottom: 20px;
			
			img.name-logo {
				position: absolute;
				top: 20px;
				left: 35px;
			}

			h2 {
				text-align: center;
				font-weight: 600;
			}
		}
	}
}