.inner-wrap.admin#set-games {
	height: 100%;
	width: 100%;
	font-family: 'Josefin sans', sans-serif;

	aside.roster {
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		max-height: 100%;

		.wrap {
			h3 {
				font-weight: 700;
			}
		}
	}
}