<section class="inner-wrap" id="home">
	<div class="">
		<section class="col-lg-7 col-md-7 game-sec" id="live">
			<div>
				<h2> Live Games </h2>
				<div class="games-wrap">
					<div class="game" ng-repeat="game in games | orderBy:sortGames">

						<div class="left">
							<div class="home">
								<a ng-href="/ng/#teams/{{game.home}}/{{getGender(game.name)}}">
									<div>
										<h4 class="home-name" ng-bind="game.home"></h4>
										<p class="record">{{teams[game.home][getGender(game.name)].win}}-{{teams[game.home][getGender(game.name)].los}}</p>
									</div>
									<img ng-src="/ng/assets/img/logos/{{teams[game.home].picture}}" width="60" height="60">
								</a>
								<h2 class="score">{{game.hScore}}</h2>
							</div>

							<div class="away">
								<a ng-href="/ng/#teams/{{game.away}}/{{getGender(game.name)}}">
									<div>
										<h4 class="away-name" ng-bind="game.away"></h4>
										<p class="record">{{teams[game.away][getGender(game.name)].win}}-{{teams[game.away][getGender(game.name)].los}}</p>
									</div>
									<img ng-src="/ng/assets/img/logos/{{teams[game.away].picture}}" width="60" height="60">
								</a>
								<h2 class="score">{{game.aScore}}</h2>
							</div>
						</div>

						<div class="right">
							<h4>{{game.name}}</h4>
							<h2> {{game.playTime}} </h2>
							<h6> {{game.quarter}} </h6>
							<p>{{game.gym}}</p>
						</div>

					</div>
				</div>
			</div>
		</section>
		<aside class="col-lg-5 col-md-5" class="timeline-2">
			<div class="glyphicon glyphicon-cloud"></div>
		</aside>
	</div>

	<script type="text/javascript">
		if (typeof twttr !== "undefined") {
			setTimeout(function() { 
				twttr.widgets.load(this.firstNode);;
				//FB.XFBML.parse(this.firstNode);
			}, 100);
		};

		/*$('.timeline-2').append('<a target="_blank" class="twitter-timeline" href="https://twitter.com/WeinerFever" data-widget-id="533260691629543424">Tweets @weinerfever</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?\'http\':\'https\';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");<\/script>');*/
	</script>
</section>