<section class="inner-wrap" id="home">
	<div class="row">
		<section class="seven columns games-sec" id="live">
			<div>
				<h4> Live Games </h4>
			</div>
		</section>
		<aside class="five columns" class="timeline-2">
			<div class="glyphicon glyphicon-cloud"></div>
		</aside>
	</div>

	<script type="text/javascript">
		if (typeof twttr !== "undefined") {
			setTimeout(function() { 
				twttr.widgets.load(this.firstNode);;
				//FB.XFBML.parse(this.firstNode);
			}, 100);
		};

		/*$('.timeline-2').append('<a target="_blank" class="twitter-timeline" href="https://twitter.com/WeinerFever" data-widget-id="533260691629543424">Tweets @weinerfever</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?\'http\':\'https\';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");<\/script>');*/
	</script>
</section>