<!-- How to Edit Time - Info Modal -->
<div class="modal fade" tabindex="-1" id="info-modal" aria-labelledby="info-header">
	<div class="modal-lg modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="info-header">How to Manually Edit Play Time</h2>
			</div>

			<div class="modal-body">
				<ul>
					<li>The time above will be displayed in the format <samp>m:SS.ms</samp>. When minutes or milliseconds are <samp>0</samp>, they will not show.</li>
					<li>Each input will take an input of up to 2 characters.</li>
					<li>You need not enter a value into every input, but if you do, either minutes or milliseconds must be <samp>0</samp></li>
					<li>After you enter two characters into a field (or one into minutes), your cursor will automatically jump to the next input (or to the submit button after MS).</li>
					<li>You can use the <kbd><span class="glyphicon glyphicon-arrow-up"></span></kbd> and <kbd><span class="glyphicon glyphicon-arrow-down"></span></kbd> keys to raise/lower the numbers in a field.</li>
				</ul>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary btn-close" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Change Quarter Time - Quarter Modal 
<div class="modal fade" tabindex="-1" id="quarter-modal" aria-labelledby="change-quarter-length">
	<div class="modal-sm modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="info-header">Change Quarter Length</h2>
			</div>

			<div class="modal-body">
				<form>
					
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary btn-close" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>-->
<!-- End Modals -->

<!--<div id="options">
	<button class="btn btn-default" id="option-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><p class="glyphicon glyphicon-option-vertical"></p></button>

	<ul class="dropdown-menu" aria-labelledby="dLabel">
		<li><a ng-click="changeQuarterPrompt($event)">Change Quarter Time</a></li>
	</ul>
</div>-->

<form autocomplete="off" ng-submit="submitForm($event)" class="manual-time">
	<table class="form-group">
			<tr>
				<th>Min</th>
				<th>Sec</th>
				<th>MS</th>
				<th>Qt</th>
			</tr>
			<tr>
				<td><input class="form-control" ng-readonly="processing" ng-keyup="keyRegister($event)" ng-model="$parent.$parent.min" type="number" name="min" id="min" size="1" maxlength="1" max="9" min="00"></td>
				<td><input class="form-control" ng-readonly="processing" ng-keyup="keyRegister($event)" ng-model="$parent.$parent.sec" type="number" name="sec" id="sec" size="2" maxlength="2" max="59" min="00"></td>
				<td><input class="form-control" ng-readonly="processing" ng-keyup="keyRegister($event)" ng-model="$parent.$parent.mms" type="number" name="mms" id="mms" size="2" maxlength="2" max="99" min="00"></td>
				<td>
					<select id="quarter" class="form-control" required="required" ng-model="$parent.$parent.quarter">
						<option value="0">Pre</option>
						<option value="1">Q1</option>
						<option value="2">Q2</option>
						<option value="3">Q3</option>
						<option value="4">Q4</option>
						<option value="false">FT</option>
						<option value="OT1">OT1</option>
						<option value="OT2">OT2</option>
						<!--<option value="false">FT-OT</option>-->
					</select>
				</td>
			</tr>
	</table>
	<div class="form-group">
		<button type="submit" class="btn btn-lg btn-primary" id="submit">Update Time</button>
	</div>
</form>

<hr id="main-divider">